.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: none;
    display: inline-block;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
}

.contacto_info{
    background-color: none;
}

.contacto_info ul{
   padding: 1%;
   margin: 2%;
   list-style: none;
}

.contacto-data{
    margin-right: 6em;
}

.form-info{
    margin-left: 6em;
}

ul li {
    margin: 0.5%;
    display: flex; 
    align-items: center;
}

ul li img{ margin-right: 0.2rem;}

iframe{padding: 1%;}

form{
    text-align: start;
}

form textarea{
    width: 100%;
    height: 9em;
}
form label,
form input ,
form button{
    width: 100%;
    height: 2rem;
    display: block;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 3px;
}
form button{
    font-weight: bold;
    margin-top: 2%;
    background-color: var(--black-suave);
    color: white;
    font-size: 12pt;
    transition: all 0.3s;
    cursor: pointer;
}

form button:hover{
    color: var(--black-suave);
    background-color: white;
}
.textarea-container {
    position: relative;
}

#mail_mensaje {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}


.character-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999;
    font-size: 12px;
}

.textarea-container {
    position: relative;
}

#mail_mensaje {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}
.character-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #999;
    font-size: 12px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px 0px 10px;
    }
    .contacto-data{
        margin: 1em 0em 0em 0em;
    }
    
    .form-info{
        margin: 1em 0em 0em 0em;
    }
    
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 0px 10px;
    }
}