#cart_sidebar{
    position: fixed;
    width: 450px;
    height: 100%;
    max-height: 100%;
    top: 0;
    right: -450px;
    background-color: var(--white-solido);
    z-index: 1;
    transition: all 0.5s ease;
}
#cart_sidebar.active{
    right: 0px;
    box-shadow: 5px 0px 70px -20px var(--black-solido);
}

.upper-sidebar{
    display: flex;
    padding: 15px 15px 15px 15px;
    box-shadow: 15px 5px 30px -15px var(--black-solido);
    align-items: center;
}

.exit-cart{
    background: url("../assets/img/exit.png") no-repeat;
    background-size: 100%;
    background-position: center;
    height: 1.1em;
    width: 1.1em;
    display:inline-block;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.sidebar-title{
    margin: auto;
    font-weight: 500;
}

.bottom-sidebar{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 15px 5px 25px -10px var(--black-solido);
}
.generate-order-sidebar{
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: var(--black-suave);
    color: var(--white-solido);
    font-weight: 600;
    border-radius: 5%;
    filter: drop-shadow(2px 3px 2px var(--black-suave));
}
.generate-order-sidebar:active{
    transform: translate(0.5%, 3%);
}
.subtotal-sidebar{
    padding: 10px 0px 10px;
    font-weight: 700;
}