<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header_style.css">
    <link rel="stylesheet" type="text/css" href="../css/footer_style.css">
    <link rel="stylesheet" type="text/css" href="../css/sidebar_style.css">
    <link rel="stylesheet" type="text/css" href="../css/error_style.css">
    <link rel="stylesheet" href="../css/contact_style.css">
    <link rel="icon" href="../assets/img/yugiohlogo.png">
    <title>Yu Gi Oh! | contacto</title>
</head>
<body>
    
    <header class="header" id="header"></header>

    <aside class="cart-sidebar" id="cart_sidebar">

    </aside>

    <main class="container">
    <section>
        <article class="contacto_info">
            <h2>Informacion de contacto</h2>
            <hr>
            <ul>
                <li><img src="../assets/img/phone-call.png" alt="" srcset=""> +54 4275 2345</li>
                <li><img src="../assets/img/whatsapp.png" alt="" srcset=""> +54 11 6923 4510</li>
                <li><img src="../assets/img/instagram.png" alt="" srcset=""> @example</li>
                <li><img src="../assets/img/gps.png" alt="" srcset=""> Calle 14, B1900 La Plata, Provincia de Buenos Aires</li>
            </ul>

            <h3>Ubicación</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.347359594759!2d-57.95883042345069!3d-34.92282437442235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62dd769b9d7%3A0x8e5a62b28764b5ef!2sCatedral%20de%20La%20Plata!5e0!3m2!1ses-419!2sar!4v1693770556020!5m2!1ses-419!2sar" 
            width="500" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </article>
    </section>

    <section>
        <h2>Envianos directamente un correo</h2>
        <hr>
        <form action="procesar.." method="post">

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto" required>

            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>

            <button type="submit">Enviar</button>
        </form>

    </section>
</main>

    <footer class="footer" id="footer"></footer>
    
</body>
<script type="module" src="../js/container/contacto.js"></script>
</html>

